.content-form {
  width: 500px;
  margin: 100px auto;
  background: $linen;
  padding: 20px 10px 20px 10px;
}

.account-text {
  display: block;
  margin-top: 8px;
  text-align: center;
}

.form {
  width: 100%;
  &__field {
    display: block;
    width: 100%;
    margin-top: 10px;
    input {
      width: 100%;
      border: none;
      padding: 10px;
    }
  }
  &__btn {
    position: relative;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    display: block;
    background: $fuzzy_brown;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    color: $white;
    cursor: pointer;
    text-transform: uppercase;
  }
}